$switch-background-color: #f8f8f8;
$switch-color: #4a5965;

.card-header {
  .status-label {
    padding: 0.5rem 1rem;
  }
  .custom-switch.status {
    padding: 0;
    margin: 0;
    width: 100%;
    @media screen and (max-width : 350px) {
      display: block;
    }
    .custom-control {
      padding: 0;
      flex-grow: 1;
      text-align: center;
      .custom-control-input {
        display: none;
        &:checked + .custom-control-label {
          background-color: $switch-color;
          color: $switch-background-color;
        }
      }
      .custom-control-label {
        width: 100%;
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
        background-color: $switch-background-color;
        color: $switch-color;
        padding: 0.5rem 1rem;
        margin: 0;
      }
    }
  }
}
.drivercard {
  border: solid 1px #c6c6c6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}
.form-group.zip {
  display: flex;
  .zip-span {
    padding: 0.375rem 0.75rem;
  }
}
.card-body {
  .form-group .comments {
    height: 7.5rem;
  }
}
