.alert-light-danger {
  background-color: #feefd0 !important;
  color: #f55252 !important;
  border-color: #feefd0;
  height: 20%;
}

* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
/* sign in img background*/
.con {
  height: 100vh;
}
.img-box {
  background-image: url("../../../../assets/img/login/login-img.png");
  background-size: cover;
}
.text-box {
  color: #ffffff;
  width: 70%;
  top: 62%;
  left: 5%;
  position: absolute;
}
.text-box-sub {
  color: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  /* or 152% */

  letter-spacing: 0.01em;
  opacity: 0.75;
}
.header-box-text {
  color: #ffffff;
}
/* sign in img background*/

/*  form start*/
.cont-login {
  background-color: #ffffff;
}
.login-box {
  width: 55%;
  top: 30%;
  left: 22%;
  position: absolute;
}
.btn-primary {
  width: 100%;
  height: 140%;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.link-style {
  text-decoration: underline;
  font-weight: bold;
  color: #3b3c3d;
  ::after {
    content: " ";
  }
}
.link-style-forgetpass {
  text-decoration: underline;
  color: #96999a;
  ::after {
    content: " ";
  }
}
/*  form ends*/
