<div class=" modal  fade sendInfo-modal" id="sendInfoToDriver" tabindex="-1" aria-labelledby="sendInfoToDriver" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="sendInfo-modal__title">Send stop 502467.1 info to driver</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.9497 8.46447L13.4142 12L16.9497 15.5355C17.3386 15.9244 17.3386 16.5608 16.9497 16.9497C16.5608 17.3387 15.9244 17.3387 15.5355 16.9497L12 13.4142L8.46446 16.9497C8.07555 17.3387 7.43915 17.3387 7.05024 16.9497C6.66133 16.5608 6.66133 15.9244 7.05024 15.5355L10.5858 12L7.05024 8.46447C6.66133 8.07556 6.66133 7.43916 7.05024 7.05025C7.43915 6.66134 8.07555 6.66134 8.46446 7.05025L12 10.5858L15.5355 7.05025C15.9244 6.66134 16.5608 6.66134 16.9497 7.05025C17.3386 7.43916 17.3386 8.07556 16.9497 8.46447Z" fill="#4A5965"/>
          </svg>
        </button>
      </div>
      <div class="modal-body info-send">
        <div class="info-send__inner">
          <div class="info-send__left">
            <div class="info-send__to">
              <p>Send to:</p>
              <select class="form-select " aria-label="Default select example">
                <option selected="">Alexander Baran</option>
                <option value="1">Alexander Baran 2</option>
                <option value="2">Alexander Baran 3</option>
                <option value="3">Alexander Baran 4</option>
              </select>
            </div>
            <div class="info-send__trip">
              <div class="info-send__trip-top">
                <span>TRIP INFO</span>
                <div class="info-send__checkbox">
                  <input checked type="checkbox" class="checkbox" id="info-send__checkbox1">
                  <label for="info-send__checkbox1">
                  </label>
                </div>
              </div>
              <div class="info-send__trip-items">
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox3">
                    <label for="info-send__checkbox3">
                      Customer
                    </label>
                  </div>
                </div>
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox4">
                    <label for="info-send__checkbox4">
                      Cust Load #
                    </label>
                  </div>
                </div>
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox5">
                    <label for="info-send__checkbox5">
                      Contact Name
                    </label>
                  </div>
                </div>
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox6">
                    <label for="info-send__checkbox6">
                      Contact Phone #
                    </label>
                  </div>
                </div>
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox7">
                    <label for="info-send__checkbox7">
                      Email
                    </label>
                  </div>
                </div>
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox8">
                    <label for="info-send__checkbox8">
                      Empty Mi
                    </label>
                  </div>
                </div>
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox9">
                    <label for="info-send__checkbox9">
                      Loaded Mi
                    </label>
                  </div>
                </div>
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox10">
                    <label for="info-send__checkbox10">
                      Price
                    </label>
                  </div>
                </div>
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox11">
                    <label for="info-send__checkbox11">
                      F/P
                    </label>
                  </div>
                </div>
                <div class="info-send__trip-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox12">
                    <label for="info-send__checkbox12">
                      Other data
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="info-send__location">
              <div class="info-send__location-top">
                <span>LOCATION INFO</span>
                <div class="info-send__checkbox">
                  <input disabled type="checkbox" class="checkbox" id="info-send__checkbox13">
                  <label for="info-send__checkbox13">
                  </label>
                </div>
              </div>
              <div class="info-send__location-items">
                <div class="info-send__location-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbo14">
                    <label for="info-send__checkbox14">
                      Location name
                    </label>
                  </div>
                </div>
                <div class="info-send__location-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox15">
                    <label for="info-send__checkbox15">
                      Date & Time
                    </label>
                  </div>
                </div>
                <div class="info-send__location-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox16">
                    <label for="info-send__checkbox16">
                      Location phone #
                    </label>
                  </div>
                </div>
                <div class="info-send__location-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox17">
                    <label for="info-send__checkbox17">
                      Address
                    </label>
                  </div>
                </div>
                <div class="info-send__location-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox18">
                    <label for="info-send__checkbox18">
                      City,State
                    </label>
                  </div>
                </div>
                <div class="info-send__location-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__checkbox19">
                    <label for="info-send__checkbox19">
                      Zip code
                    </label>
                  </div>
                </div>
                <div class="info-send__location-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox20">
                    <label for="info-send__checkbox20">
                      Directions
                    </label>
                  </div>
                </div>
                <div class="info-send__location-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox21">
                    <label for="info-send__checkbox21">
                      Price
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="info-send__freight">
              <div class="info-send__freight-top">
                <span>FREIGHT INFO</span>
                <div class="info-send__checkbox">
                  <input type="checkbox" class="checkbox" id="info-send__checkbox23">
                  <label for="info-send__checkbox23">
                  </label>
                </div>
              </div>
              <div class="info-send__freight-items">
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox24">
                    <label for="info-send__checkbox24">
                      Type
                    </label>
                  </div>
                </div>
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox25">
                    <label for="info-send__checkbox25">
                      BOL #
                    </label>
                  </div>
                </div>
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox26">
                    <label for="info-send__checkbox26">
                      PU/PO #
                    </label>
                  </div>
                </div>
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox27">
                    <label for="info-send__checkbox27">
                      Commodity
                    </label>
                  </div>
                </div>
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox26">
                    <label for="info-send__checkbox26">
                      Reference #
                    </label>
                  </div>
                </div>
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox27">
                    <label for="info-send__checkbox27">
                      Notes
                    </label>
                  </div>
                </div>
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox28">
                    <label for="info-send__checkbox28">
                      Weight
                    </label>
                  </div>
                </div>
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox29">
                    <label for="info-send__checkbox29">
                      Temp
                    </label>
                  </div>
                </div>
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox30">
                    <label for="info-send__checkbox30">
                      Skids #
                    </label>
                  </div>
                </div>
                <div class="info-send__freight-item">
                  <div class="info-send__checkbox">
                    <input type="checkbox" class="checkbox" id="info-send__checkbox31">
                    <label for="info-send__checkbox31">
                      Other
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-send__right">
            <div class="info-send__right-top">
              <p class="info-send__right-title">Send by:</p>
              <div class="info-send__right-checkboxes">
                <div class="info-send__right-chexbox">
                  <div class="info-send__right-checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__right-checkbox1">
                    <label for="info-send__right-checkbox1">
                      SMS
                    </label>
                  </div>
                </div>
                <div class="info-send__right-chexbox">
                  <div class="info-send__right-checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__right-checkbox2">
                    <label for="info-send__right-checkbox2">
                      Email
                    </label>
                  </div>
                </div>
                <div class="info-send__right-chexbox">
                  <div class="info-send__right-checkbox">
                    <input type="checkbox" checked="" class="checkbox" id="info-send__right-checkbox3">
                    <label for="info-send__right-checkbox3">
                      Mobile app
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <div class="info-send__message">
              <p class="info-send__message-title">
                <span>MESSAGE PREVIEW</span>
              </p>
              <div class="info-send__message-body">
                <div>Hi Alexander! Sending your information aabout the stop:</div>
                <div>
                  Customer:CH Robinson Worldwide, Inc. <br> Cust Load #:357008090 <br> Contact Name: Dencho Denev <br> Contact Phone #: 800-312-5596 <br> Email: d.denev@chrobinson.com <br> Empty Mi: 23 mi
                  <br> Loaded Mi: 1359 mi <br> Price: $4800.00 <br> F/P: Full <br> Other data: orher data here
                </div>
                <div>
                  Location Name: Flex Membranes <br> Date & time: 08/19/20 08:00 - 16:00 <br> Location phone number: (585) 546-6200 <br> Address: 1227 Central Ave <br> City,State: Hillside, NJ <br> Zip code: 07205
                </div>
                <div>Have a nice trip!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="sendInfo-modal__cancel" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="sendInfo-modal__send">Send</button>
      </div>
    </div>
  </div>
</div>
