<div class="load-edit__nav">
  <div class="row">
    <div class="col">
      <div class="load-edit__num">
        <span>Load #:</span>
        <input type="text" placeholder="Load number">
      </div>
      <div class="load-edit__num-date">Created: 03/07/2020 02:50 GMT-6</div>
      <div class="load-edit__num-checkboxes">
        <div class="load-edit__num-checkbox">
          <input type='checkbox' checked class='checkbox' id='load-edit__num-checkbox1' />
          <label for='load-edit__num-checkbox1'>
            TONU
          </label>
        </div>
        <div class="load-edit__num-checkbox">
          <input type='checkbox' class='checkbox' id='load-edit__num-checkbox2' />
          <label for='load-edit__num-checkbox2'>
            Cancelled
          </label>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="load-edit__input load-edit__input--mb12">
        <span>Customer:</span>
        <input type="text" placeholder="Full customer name">
      </div>
      <div class="load-edit__input load-edit__input--mb12">
        <span>Cust load #:</span>
        <input type="text" placeholder="Cust load number">
      </div>
      <div class="load-edit__input load-edit__input--mb12">
        <span>Cont. Name #:</span>
        <input type="text" placeholder="Full contact name">
      </div>
      <div class="load-edit__input load-edit__input--mb12">
        <span>Phone #:</span>
        <input type="text" placeholder="Correct phone number">
      </div>
      <div class="load-edit__input">
        <span>Email:</span>
        <input type="text" placeholder="Email address">
      </div>
    </div>
    <div class="col">
      <div class="load-edit__select load-edit__select--mb12">
        <span>Truck:</span>
        <select class="form-control" aria-label="Default select example">
          <option selected>Pick truck number</option>
          <option value="1">Truck 1</option>
          <option value="2">Truck 2</option>
          <option value="3">Truck 3</option>
        </select>
      </div>
      <div class="load-edit__select load-edit__select--mb12">
        <span>Trailer:</span>
        <select class="form-control" aria-label="Default select example">
          <option selected>Pick trailer number</option>
          <option value="1">trailer 1</option>
          <option value="2">trailer 2</option>
          <option value="3">trailer 3</option>
        </select>
      </div>
      <div class="load-edit__select load-edit__select--mb12">
        <span>Driver 1:</span>
        <select class="form-control" aria-label="Default select example">
          <option selected>Pick driver</option>
          <option value="1">Driver</option>
          <option value="2">Driver</option>
          <option value="3">Driver</option>
        </select>
      </div>
      <div class="load-edit__select load-edit__select--mb12">
        <span>Driver 2:</span>
        <select class="form-control" aria-label="Default select example">
          <option selected>Pick driver</option>
          <option value="1">Driver</option>
          <option value="2">Driver</option>
          <option value="3">Driver</option>
        </select>
      </div>
      <div class="load-edit__select">
        <span>Other</span>
        <select class="form-control" aria-label="Default select example">
          <option selected>Choose additional field</option>
          <option value="1">field 1</option>
          <option value="2">field 2</option>
          <option value="3">field 3</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="load-edit__input load-edit__input--disabled load-edit__input--w185 load-edit__input--mb12">
        <span>Empty Mi:</span>
        <div>
          <input disabled type="text" placeholder="Total price">
          <div class="load-edit__checkbox">
            <input type="checkbox" class="checkbox" id="load-edit__checkbox1">
            <label for="load-edit__checkbox1">
              Enter manually
            </label>
          </div>
        </div>

      </div>
      <div class="load-edit__input load-edit__input--w185 load-edit__input--mb12">
        <span>Loaded Mi:</span>
        <div>
          <input type="text" placeholder="Total price">
          <div class="load-edit__checkbox">
            <input type="checkbox" checked="" class="checkbox" id="load-edit__checkbox2">
            <label for="load-edit__checkbox2">
              Enter manually
            </label>
          </div>
        </div>

      </div>
      <div class="load-edit__input load-edit__input--w315 load-edit__input--mb12">
        <span>Price:</span>
        <input type="text" placeholder="Total price">
      </div>
      <div class="load-edit__select load-edit__select--mb12">
        <span>Dispatch:</span>
        <select class="form-control" aria-label="Default select example">
          <option selected>Pick from the list</option>
          <option value="1">Dispatch 1</option>
          <option value="2">Dispatch 2</option>
          <option value="3">Dispatch 3</option>
        </select>
      </div>
      <div class="load-edit__input  load-edit__input--w315">
        <span>Other data:</span>
        <input type="text" placeholder="Type of...">
      </div>
    </div>
  </div>
</div>
