* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
.row {
  height: 100vh;

  background-color: #e5e5e5;
}
.logo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.text-box {
  position: absolute;
  width: 50%;
  height: 40%;
  background-color: #ffffff;

  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.btn-primary {
  position: relative;
  width: 30%;
  height: 13%;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  top: 38%;
  left: 35%;
}
.header-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  align-items: center;
  letter-spacing: 0.01em;

  /* Main Text */

  color: #3b3c3d;
}
.text {
  position: relative;
  top: 12%;
  left: 4%;
}
.para-box {
  width: 80%;
  font-weight: 500;
}
.last-text {
  position: relative;
  top: 47%;
  left: 9%;
}
.next-para {
  position: relative;
  top: 80%;
  left: 35%;
  width: 26%;
}
.centerd {
  position: relative;

  display: block;
  text-align: center;
}
