<div class="load-edit__items">
  <div class="load-edit__item">
    <div class="load-edit__item-left">
      <p class="load-edit__item-title">502467.1</p>
      <div class="row">
        <div class="col">
          <p class="load-edit__item-num">LOCATION INFO</p>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="Location Name" value="Flex Membranes">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="Address" value="1227 Central Ave">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 load-edit__item-input--double">
            <input type="text" placeholder="City, State" value="Hillside, NJ">
            <input type="text" placeholder="Zip code" value="07205">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 ">
            <input type="text" placeholder="Location phone #" value="(585) 546-6200">
          </div>
          <div class="load-edit__item-input">
            <input type="text" placeholder="Directions" value="">
          </div>
        </div>
        <div class="col">
          <p class="load-edit__item-num">TIME INFO</p>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="datetime-local" data-placeholder="Date & time" value="08/19/20 08:00 - 16:00">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="Comodity" value="Paper">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 load-edit__item-input--triple">
            <input type="text" placeholder="Weight" value="44,000 lbs">
            <input type="text" placeholder="Skids #" value="30">
            <input type="text" placeholder="Temp." value="+80°F">
          </div>
          <div class="load-edit__status load-edit__item-input--mb12 ">
            <span class="load-edit__status-load load-edit__status-load--active">LOADING</span>
            <span class="load-edit__status-unload ">UNLOADING</span>
          </div>
          <div class="load-edit__item-input">
            <input type="text" placeholder="Notes" value="">
          </div>
        </div>
        <div class="col">
          <p class="load-edit__item-num">FREIGHT INFO</p>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="BOL #" value="154822523">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="PU/PO #">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 ">
            <input type="text" placeholder="Reference #" value="3365895">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 ">
            <input type="text" placeholder="Other ..." value="(585) 546-6200">
          </div>
          <div class="load-edit__select">
            <div class="load-edit__checkbox">
              <input type="checkbox" checked="" class="checkbox" id="load-edit__checkbox3">
              <label for="load-edit__checkbox3">
                Hazmat
              </label>
            </div>
            <select class="form-control  form-control-w175 " aria-label="Default select example">
              <option selected="">8 class</option>
              <option value="1">2 class</option>
              <option value="2">3 class</option>
              <option value="3">4 class</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="load-edit__item-right">
      <app-edit-map-section></app-edit-map-section>
    </div>
  </div>
  <div class="load-edit__item">
    <div class="load-edit__item-left">
      <p class="load-edit__item-title">502467.1</p>
      <div class="row">
        <div class="col">
          <p class="load-edit__item-num">LOCATION INFO</p>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="Location Name">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="Address">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 load-edit__item-input--double">
            <input type="text" placeholder="City, State">
            <input type="text" placeholder="Zip code">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 ">
            <input type="text" placeholder="Location phone #">
          </div>
          <div class="load-edit__item-input">
            <input type="text" placeholder="Directions">
          </div>
        </div>
        <div class="col">
          <p class="load-edit__item-num">TIME INFO</p>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="datetime-local" data-placeholder="Date & time">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="Comodity">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 load-edit__item-input--triple">
            <input type="text" placeholder="Weight">
            <input type="text" placeholder="Skids #">
            <input type="text" placeholder="Temp.">
          </div>
          <div class="load-edit__status load-edit__item-input--mb12 ">
            <span class="load-edit__status-load ">LOADING</span>
            <span class="load-edit__status-unload load-edit__status-unload--active">UNLOADING</span>
          </div>
          <div class="load-edit__item-input">
            <input type="text" placeholder="Notes">
          </div>
        </div>
        <div class="col">
          <p class="load-edit__item-num">FREIGHT INFO</p>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="BOL #">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12">
            <input type="text" placeholder="PU/PO #">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 ">
            <input type="text" placeholder="Reference #">
          </div>
          <div class="load-edit__item-input load-edit__item-input--mb12 ">
            <input type="text" placeholder="Other ...">
          </div>
          <div class="load-edit__select">
            <div class="load-edit__checkbox">
              <input type="checkbox" checked="" class="checkbox" id="load-edit__checkbox4">
              <label for="load-edit__checkbox4">
                Hazmat
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="load-edit__item-right">
      <app-edit-map-section></app-edit-map-section>
    </div>
  </div>
  <button class="load-edit__item-all">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 13H13V18C13 18.55 12.55 19 12 19C11.45 19 11 18.55 11 18V13H6C5.45 13 5 12.55 5 12C5 11.45 5.45 11 6 11H11V6C11 5.45 11.45 5 12 5C12.55 5 13 5.45 13 6V11H18C18.55 11 19 11.45 19 12C19 12.55 18.55 13 18 13Z" fill="#96999A"/>
    </svg>
    <span>Click to add new stop</span>
  </button>
</div>
