button{
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.free {
  &__items {
    border: 1px solid #BCBEBE;
    border-radius: 0.25rem;
    padding: 20px 16px;
  }
  &__search {
    & .form-control-position {
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
    }
    & i {
      color: #96999A;
    }
    & input {
      padding-left: 40px;
      font-size: 14px;
      line-height: 16px;
      background-color: #fff;
      &::placeholder {
        color: #96999A;
      }
    }
  }

  &__head {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #96999A;
  }
  &__item {
    background: #FFFFFF;
    border: 1px solid #BCBEBE;
    border-radius: .25rem;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    color: #3B3C3D;
    height: 40px;
    position: relative;
    & .row {
      height: 100%;
      flex-wrap: nowrap;
    }
    &-back {
      width: 20px;
      height: 20px;
      background: #3383EC;
      border-radius: 2px;
      flex-shrink: 0;
      margin-right: 16px;
    }
    &-drag{
      background-color: transparent;
      width: 16px;
      height: 16px;
    }
  }
  &__item--drag {
    opacity: 0.35;
  }
}

