<section id="basic-hidden-label-form-layouts">
  <div class="row match-height">
    <!-- Basic Form starts -->
    <div class="col-lg-6 col-12">
      <form [formGroup]="companyUsersForm">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-4">
                <a class="btn btn-link" >Status</a>
                <a class="btn btn-link" (click)="onSubmit()">Pending</a>
              </div>
              <div class="col-md-4">
                <div class="custom-switch custom-control-inline mb-1 mb-xl-0">
                  <input type="checkbox" class="custom-control-input" id="custom-switch-2">
                  <label class="custom-control-label mr-1" for="custom-switch-2">
                    <span>Inactive</span>
                  </label>
                </div>
              </div>
              <div class="col-md-4">
                <a class="btn btn-link" >Cancel</a>
                <a class="btn btn-link" (click)="onSubmit()">Save</a>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <label>
                        Full name
                      </label>
                      <div class="form-group">
                        <input type="text" formControlName="fullName" class="form-control mb-2" placeholder="Full name">
                      </div>
                    </div>

                    <div class="col-md-8">
                      <label>
                        Department
                      </label>
                      <div class="form-group">
                        <input type="text" formControlName="department" class="form-control mb-2" placeholder="Department">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <label>
                        Cell phone
                      </label>
                      <div class="form-group">
                        <input type="text" formControlName="cellPhone" class="form-control mb-2" placeholder="Cell phone">
                      </div>
                    </div>

                    <div class="col-md-8">
                      <label>
                        Mobile phone
                      </label>
                      <div class="form-group">
                        <input type="text" formControlName="mobilePhone" class="form-control mb-2" placeholder="Mobile phone">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>
                        Email
                      </label>
                      <div class="form-group">
                        <input type="text" formControlName="email" class="form-control mb-2" placeholder="email">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <label>
                        Role
                      </label>
                      <div class="form-group">
                        <input type="text" formControlName="role" class="form-control mb-2" placeholder="Role">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <label>
                        Status
                      </label>
                      <div class="form-group">
                        <input type="text" formControlName="status" class="form-control mb-2" placeholder="status">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Basic Form ends -->
  </div>
</section>

