p{
  margin-bottom: 0;
}
.load-section{
  display: flex;
}
.load-content{
  width: calc(51.9% - 30px);
}
.load-map{
  width: calc(49.1% + 40px);
  margin-left: 20px;
  margin-right: -30px;
}
.load-info {

  &__top {
    display: flex;
    justify-content: space-between;
    height: 84px;
    padding: 0 20px;
    background-color: #fff;
    width: calc(100% + 50px);
    margin-left: -30px;
    &-right {
      height: 100%;
      display: flex;
      align-items: center;
      & button {
        background: #FFBA55;
        border-radius: 4px;
        width: 178px;
        height: 44px;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        border:none;
        & svg {
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
      }
    }
    &-tabs {
      display: flex;
      align-items: center;
      margin-top: 22px;
    }
    &-tab {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      width: 93px;
      color: #96999A;
      padding-bottom: 13px;
      border-bottom: 2px solid transparent;
      transition: all .3s;
      &:hover {
        color: #3B3C3D;
        border-color: #3D4A55;
        cursor: pointer;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-tab--active {
      color: #3B3C3D;
      border-color: #3D4A55;
      pointer-events: none;
    }
    &-greybtn {
      margin-right: 12px;
      background: #F4F4F4 !important;
      color: #96999A !important;
    }
    &-darkbtn {
      background: #3D4A55 !important;
      margin-right: 12px;
      color: #fff !important;
    }
    &-bluebtn {
      margin-right: 12px;
      color: #fff !important;
      background: #3383EC !important;
    }
  }

  &__content {
    padding: 0 10px;
  }
}
.breadcrumps {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-left: 20px;
  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #96999A;
    position: relative;
    padding: 2px 0;
    &:not(:last-child) {
      margin-right: 28px;
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 20px;
        height: 20px;
        //background-image: url(../img/chevron_right.svg);
        background-image: url(../../../assets/img/svg/chevron_right.svg);
        background-repeat: no-repeat;
        background-position: center;
        right: -24px;
        top: 0;
      }
      &:hover {
        color: #000;
      }
    }
    &:last-child {
      pointer-events: none;
    }
  }
}
